
body {
font-family: Arial, Verdana, sans-serif;}
h1, h2 {
color: #21702e;}
p {
color: #e3ddd6;}

<div class="container">
    <div class="box drgb(48, 11, 59)ark_blue"></div>
    <div class="box lrgb(204, 192, 218)ight_blue"></div>
    <div class="box grrgb(131, 125, 168)een"></div>
		CAN THINGS GO HERE???
		I don't know
</div>

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100%;
    height: 300px;
}

.dark_blue {
    background-color: #7684df;
}
.light_blue {
    background-color: #323e5d;
}
.green {
    background-color: #7dd072;
}

@media (min-width: 450px) {
    .dark_blue {
        width: 25%;
    }
    .light_blue {
        width: 75%;
    }
}

@media (min-width: 550px) {
    .dark_blue, .green {
        width: 25%;
    }
    .light_blue {
        width: 50%;
    }
}

p.three {
background-color: #a3c285;
color: #ffffff;
text-shadow: 2px 2px 7px #111111;}

body {
font-family: Arial, Verdana, sans-serif;}
h4, {
color: #e2842d;}
p {
color: rgba(#172a13, 0.55);}

body {
background-color: rgb(89, 53, 53);}
h1 {
background-color: DarkCyanrgb(125, 168, 176);}
h4 {
background-color: #044728;}
p {
background-color: whitergb(131, 173, 184);}

body {
text-align: center;}
h1, {
p {
text-align: justify;}

}
h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;

}
  h4 {
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 14px;
  	font-style: italic;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 15.4px;
