
body {
font-family: Arial, Verdana, sans-serif;}
h1, h2 {
color: #82d990;}
p {
color: #e9bf8d;}

p.three {
background-color: #df6666;
color: #85a0bd;
text-shadow: 2px 2px 7px #111111;}

body {
font-family: Arial, Verdana, sans-serif;}
h4, {
color: #2dd7e2;}
p {
color: rgba(#32c414, 0.55);}

body {
background-color: rgb(242, 137, 40);}
h1 {
background-color: DarkCyanrgb(71, 85, 78);}
h4 {
background-color: #1a8b56;}
p {
background-color: whitergb(247, 230, 72);}

body {
text-align: center;}
h1, {
p {
text-align: justify;}

}
h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}
h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;

}
  h4 {
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 14px;
  	font-style: italic;
  	font-variant: normal;
  	font-weight: 500;
  	line-height: 15.4px;
